#comment {
    font-size: 17pt;
    color: black;
}

div {
    text-align: center;
    color: black;
}
table {
    margin-left: 44%;
}
#reg {
    background-color: greenyellow;
    margin-left: 47%;
}
body {
    /* background-image: url(static/bg.jpg); */
    background-color: white;
}

div.error_message {
    color: red;
    background-color: #96f2ff;
}
