<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>
        Project-a main menu
    </h1>

    <ul>
        <li>
            <a href="/information">
                Information about team
            </a>
        </li>

        <li>
            <a href="/registration">
                Registration
            </a>
        </li>

        <li>
            <a href="/login">
                Login
            </a>
        </li>

        <li>
            <a href="/who_are_you">
                Who are you?
            </a>
        </li>

    </ul>


</body>
</html>

