<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>
            Here is all people who doing "Project-a":
    </h3>

    <table>
        <tr>
            <td>
                Our team lead:<br>
                <img src="/static/sazonovdo.png" width="300px">
            </td>
            <td>
                Our tester and analyst:<br>
                <img src="/static/buhikaloaa.png" width="300px">
            </td>
        </tr>
        <tr>
            <td>
                Our backend developer:<br>
                <img src="/static/sazonovvd.png" width="300px">
            </td>
            <td>
                Our frontend developer:<br>
                (no photo)

            </td>
        </tr>
        
    </table>

</body>
</html>

