<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>
    <h3>
            Here is all people who doing "projet-a":
    </h3>

    <table border="1px">
        <tr>
            <td>
                Our team lead:<br>
                <img src="/static/sazonovdo.png" width="300px">
            </td>
            <td>
                Our tester and analyst:<br>
                <img src="/static/buhikaloaa.png" width="300px">
            </td>
        </tr>
        <tr>
            <td>
                Our full stack developer:<br>
                <img src="/static/sazonovvd.png" width="300px">
            </td>
            <td>
                Our full stack developer:<br>
                <img src="/static/buhikaloma.png" width="300px">

            </td>
        </tr>


    </table>
</body>
</html>

