<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div id="txtl">Type your name</div>
    <center><input type="text" name="login" id="login"></center>
    <br>
    <div id="txtp" >Type your pasword</div>
    <center><input type="password" name="password" id="password"></center>
    <br>
    <div id="txtr">Repeat your password</div>
    <center><input type="password" name="retry" id="retry"></center>
    <br>
    <button id="reg">Sign up</button>
</body>
</html>
