<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules for game Bulls and Cows</title>
</head>
<body>
    <h2>COWS & BULLS</h2>
    <h4>RULES</h4>
    <ul>
        <li>You have to guss number of 4 digital</li>
        <li>Do not type letters</li>
        <li>
            In this game you have cows(digital that is in number but not on it place)
            and bulls(digital that is in number but not on it place)</li>
        <li>Try to have 4 bulls and to win!!!</li>

    </ul>
    <a href="/bulls/start">Start new game</a>

</body>
</html>