<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who are you?</title>
</head>
<body>

    Information about you:
    <br>
    {{info}}
    <br>
    <br>

    Your IP adres:
    <br>
    {{addr}}

    <table border="1">
        <tr>
            <td>Ip address:</td>
            <td>User agent</td>
            <td>last viseted</td>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{client.ip}}</td>
                <td>{{client.info}}</td>
                <td>{{client.last_visit}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>